@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>A maior autoridade de bom humor que pode encontrar em todo o localhost.</p>
</div>
